nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 15px;
    padding: 7px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
}
nav li:hover{
    background-color: rgb(194, 129, 185);
}
nav a{
    text-decoration: none;
    color: purple;
}